.privacy{
  flex:1;
  text-align: right;
}

.privacy-btn{
  width: 30px!important;
  height: 30px!important;  
  border-radius: 30px!important;
}
.privacy-menu{
top: 30px !important;
left: 31px !important;
}

.btn-group button,.btn-group button:focus , .btn-group button:hover,.btn-group button:active,.btn-group .btn-secondary:not(:disabled):not(.disabled):active:focus {     
  background-color: transparent;
  border-color: transparent;   
  box-shadow: none;

}

